/cours0/ConsoleApplication1/Debug
/cours0/ConsoleApplication1/ConsoleApplication1/Debug
/cours0/ConsoleApplication1/.vs
/cours0/ConsoleApplication1/ConsoleApplication1/x64
/cours0/ConsoleApplication1/x64
/cours1/ConsoleApplication1/Debug/*.pdb
/cours1/ConsoleApplication1/Debug/*.obj
/cours1/ConsoleApplication1/Debug
/cours1/ConsoleApplication1/.vs
/cours2/Cours2/Debug
/cours2/Cours2/.vs
/cours3/ConsoleApplication1/Debug
/cours3/ConsoleApplication1/.vs
/cours4/App/.vs
/cours4/App/Debug/App.pdb
/cours4/App/Debug/pch.obj
/cours4/App/Debug/App.tlog
/cours4/App/Debug/App.Build.CppClean.log
/cours4/App/Debug/App.exe
/cours4/App/Debug/App.ilk
/cours4/App/Debug/App.log
/cours4/App/Debug/App.obj
/cours4/App/Debug/App.pch
