/cours0/ConsoleApplication1/Debug
/cours0/ConsoleApplication1/ConsoleApplication1/Debug
/cours0/ConsoleApplication1/.vs
/cours0/ConsoleApplication1/ConsoleApplication1/x64
/cours0/ConsoleApplication1/x64
/cours1/ConsoleApplication1/Debug/*.pdb
/cours1/ConsoleApplication1/Debug/*.obj
/cours1/ConsoleApplication1/Debug
/cours1/ConsoleApplication1/.vs
/cours2/Cours2/Debug
/cours2/Cours2/.vs
/cours3/ConsoleApplication1/Debug
/cours3/ConsoleApplication1/.vs
/test_sfml/test/Debug
/test_sfml/test/x64
/test_sfml/test/.vs
/cours5/App/.vs
/test_b2d/App/x64
/test_b2d/App/Debug
/test_b2d/App/Release
/test_b2d/App/.vs
/cours5/App/Debug/*.idb
/cours5/App/Debug/*.obj
/cours5/App/Debug/*.log
/cours5/App/Debug/*.ilk
/cours5/App/Debug/*.enc
/cours5/App/Debug/*.pch
/cours5/App/Debug/App.pdb
/cours5/App/Debug/App.tlog/*.lastbuildstate
/cours5/App/Debug/App.tlog/*.tlog
/cours5/App/Debug/*.pdb
